body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.foodmenu {

  border: 2px solid;
}

img {
  width: 100%;

}
h1 {
  border-bottom: 2px solid;
  text-align: center;

}

h3 {
  border-bottom: 2px solid;
  text-align: center;
}
p{
  text-align: center;
}
li {
  list-style-type: none;
}
.addToOrder{
  display: inline-block;
  position: relative;
  left: 181px;
}
